NODE_ENV=development
APP_STAGE=local

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api

API_PORT=4000
CORS_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/plataforma_de_aulas
REDIS_URL=redis://localhost:6379

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET=plataforma-aulas-assets

MAILPIT_UI_URL=http://localhost:8025

ASAAS_ENV=sandbox
ASAAS_API_KEY=

PANDA_DEFAULT_ALLOWED_DOMAIN=aulas.abasolucoesetecnologia.com.br
TRAEFIK_ACME_EMAIL=
